

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#sign-in-facebook {
    background-color: #3b3b98;
    *background-color: #3b5998;    
    background-image: -moz-linear-gradient(top, #3b5998, #3b2798);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#3b2798));
    background-image: -webkit-linear-gradient(top, #3b5998, #3b2798);
    background-image: -o-linear-gradient(top, #3b5998, #3b2798);
    background-image: linear-gradient(to bottom, #3b5998, #3b2798);    
    background-repeat: repeat-x;    
    border-color: #3b5998 #3b5998 #97530e;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-bottom: 6px !important;   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff3b2798', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);    
}

#sign-in-facebook:hover {
  background-color: #3b2798;
  *background-color: #334890;    
}

#sign-in-twitter {
    background-color: #48c4d2;
    *background-color: #48A6d2;    
    background-image: -moz-linear-gradient(top, #48c4d2, #4892d2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#48c4d2), to(#4892d2));
    background-image: -webkit-linear-gradient(top, #48c4d2, #4892d2);
    background-image: -o-linear-gradient(top, #48c4d2, #4892d2);
    background-image: linear-gradient(to bottom, #48c4d2, #4892d2);    
    background-repeat: repeat-x;    
    border-color: #48c4d2 #48c4d2#97530e;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-bottom: 6px !important;   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff48c4d2', endColorstr='#ff4892d2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);        
}

#sign-in-twitter:hover {
    background-color: #4892d2;
    *background-color: #40B3CA;
}

#sign-in-google {
    background-color: #d14836;
    *background-color: #d12A36;    
    background-image: -moz-linear-gradient(top, #d14836, #d11636);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d14836), to(#d11636));
    background-image: -webkit-linear-gradient(top, #d14836, #d11636);
    background-image: -o-linear-gradient(top, #d14836, #d11636);
    background-image: linear-gradient(to bottom, #d14836, #d11636);    
    background-repeat: repeat-x;    
    border-color: #d14836 #d14836 #97530e;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd14836', endColorstr='#ffd11636', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);        
}

#sign-in-google:hover {
    background-color: #d11636;
    *background-color: #C9372E;
}
