        <!--=== Slider ===-->
        <!--div class="slider-inner">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
                    <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
                    <div class="da-img"><a href="http://www.google.com/"><img src="{{rootUrl}}global/img/slider/1.png" alt="" /></a></div>
                </div>
                <div class="da-slide">
                    <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
                    <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
                    <div class="da-img"><img src="{{rootUrl}}global/img/slider/html5andcss3.png" alt="image01" /></div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>        
                </nav>
            </div>
        </div><!-/slider-->
        <!--=== End Slider ===-->                 
        
        <!--=== Content Part ===-->
        <div class="container">	
            <!-- if isset($this->flashMessenger[0]) -->
            <div class="alert alert-<?php echo $this->flashMessenger[0];?>">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <?php echo $this->flashMessenger[1];?>
            </div>
            <!-- endif -->
            <div class="row-fluid">
                <div class="span3">
                    <div class="affix-sidebar" data-spy="affix" data-offset-top="66">                    
                        <div class="headline"><h3>Tipe Properti</h3></div>
                        <ul class="nav nav-list bs-docs-sidenav">
                            <li>
                                <a href="?"><i class="icon-chevron-right pull-right" style="line-height: 1.6;"></i> Semua</a>
                            </li>

                            <!-- loop tipe -->
                            <li>
                                <a href="?tipe={{tipe' value.@type_id}}"><i class="icon-chevron-right pull-right" style="line-height: 1.6;"></i> {{tipe' value.@type_name}}</a>
                            </li>
                            <!-- endloop -->
                        </ul>
                    </div>
                </div>
                <div class="span9" id="listing-thumb">                
                    <!-- Popular Listing -->
                    <div class="headline"><h3>Popular Listing</h3><h5 class="pull-right more">More...</h5></div>
                    <ul class="thumbnails">
                        <!-- if !{{terbaru}} -->
                        Belum ada listing.
                        <!-- endif -->
                        <!-- loop populer -->
                        <li class="span3">
                            <div class="thumbnail-style thumbnail-kenburn">
                                <div class="thumbnail-img">
                                    <div class="overflow-hidden"><a href="{{rootUrl}}listing/view/{{listing' value.@listing_id}}"><img src="{{rootUrl}}global/img/upload/resize/{{getName(listing' value.@Image[0].@name)}}_670x423.jpg" alt="" /></a></div>
                                    <!-- if {{listing' value.@listing_type}} == "Jual" -->
                                        <span class="btn-type btn-u-green hover-effect" href="#">Jual</span>
                                    <!-- elseif {{listing' value.@listing_type}} == "Sewa" -->
                                        <span class="btn-type btn-u-red hover-effect" href="#">Sewa</span>
                                    <!-- else -->
                                        <span class="btn-type btn-u-red hover-effect" href="#">Lelang</span>
                                    <!-- endif -->
                                    <span class="btn-price" href="#">Rp. {{number_format(listing' value.@price, 0)}},-  </span>
                                </div>
                                <div class="pull-rgt" style="margin-top: 5px">
                                    <span> <i class="my-icon-land"></i>{{listing' value.@land}}&nbsp;</span>
                                    <span> <i class="my-icon-bed"></i>{{listing' value.@bed}}&nbsp;</span>
                                    <span> <i class="my-icon-bath"></i>{{listing' value.@bath}}&nbsp;</span>
                                    <span> <i class="icon-eye-open"></i> {{listing' value.@view_count}}&nbsp;</span>
                                </div>
                                <!-- if {{listing' value.@listing_type}} == "Lelang" -->
                                    <!-- if strtotime({{listing' value.@start_date}}) > (time() - 24 * 60 * 60) -->
                                    <p class="small">Lelang belum dimulai.
                                    <br />Lelang akan dimulai pada {{listing.@start_date}}</p>
                                    <!-- elseif strtotime({{listing' value.@end_date}}) < (time() - 24 * 60 * 60) -->
                                    <p class="small">Lelang sudah ditutup.</p>
                                    <!-- else -->
                                    <span class="countdown" data-waktu="{{strtotime(listing' value.@end_date)}}" ></span>
                                    <!-- endif -->
                                <!-- endif -->                                   
                                <h3><a class="hover-effect hoverinfo" data-toggle="tooltip" title="{{listing' value.@title}}" href="{{rootUrl}}listing/view/{{listing' value.@listing_id}}">{{shorten(listing' value.@title, 3)}}</a></h3>
                                <p class="lokasi">{{getKota(listing' value.@province_id, listing' value.@district_id)}}, {{getPropinsi(listing' value.@province_id)}}</p>
                            </div>
                        </li>
                        <!-- endloop -->
                    </ul><!--/thumbnails-->               
                    <!-- Popular Listing -->
                    <div class="headline"><h3>Listing Terbaru</h3><h5 class="pull-right more">More...</h5></div>
                    <ul class="thumbnails">
                        <!-- if !{{terbaru}} -->
                        Belum ada listing.
                        <!-- endif -->
                        <!-- loop terbaru -->
                        <li class="span3">
                            <div class="thumbnail-style thumbnail-kenburn">
                                <div class="thumbnail-img">
                                    <div class="overflow-hidden"><a href="{{rootUrl}}listing/view/{{listing' value.@listing_id}}">
                                    <!-- if $v1->Image -->
                                    <img src="{{rootUrl}}global/img/upload/resize/{{getName(listing' value.@Image[0].@name)}}_670x423.jpg" alt="" /></a></div>
                                    <!-- endif -->
                                    <!-- if {{listing' value.@listing_type}} == "Jual" -->
                                        <span class="btn-type btn-u-green hover-effect" href="#">Jual</span>
                                    <!-- elseif {{listing' value.@listing_type}} == "Sewa" -->
                                        <span class="btn-type btn-u-red hover-effect" href="#">Sewa</span>
                                    <!-- else -->
                                        <span class="btn-type btn-u-red hover-effect" href="#">Lelang</span>
                                        <!--span class="btn-bid" href="#">Rp. {{number_format(listing' value.@price, 2)}}</span-->
                                    <!-- endif -->
                                    <span class="btn-price" href="#">Rp. {{number_format(listing' value.@price, 0)}},-</span>
                                </div>
                                <div class="pull-rgt" style="margin-top: 5px">
                                    <span> <i class="my-icon-land"></i>{{listing' value.@land}}&nbsp;</span>
                                    <span> <i class="my-icon-bed"></i>{{listing' value.@bed}}&nbsp;</span>
                                    <span> <i class="my-icon-bath"></i>{{listing' value.@bath}}&nbsp;</span>
                                    <span> <i class="icon-eye-open"></i> {{listing' value.@view_count}}&nbsp;</span>
                                </div>
                                <!-- if {{listing' value.@listing_type}} == "Lelang" -->
                                    <!-- if strtotime({{listing' value.@start_date}}) > (time() - 24 * 60 * 60) -->
                                    <p class="small">Lelang belum dimulai.
                                    <br />Lelang akan dimulai pada {{listing.@start_date}}</p>
                                    <!-- elseif strtotime({{listing' value.@end_date}}) < (time() - 24 * 60 * 60) -->
                                    <p class="small">Lelang sudah ditutup.</p>
                                    <!-- else -->
                                    <span class="countdown" data-waktu="{{strtotime(listing' value.@end_date)}}" ></span>
                                    <!-- endif -->
                                <!-- endif -->                               
                                <h3><a class="hover-effect hoverinfo" data-toggle="tooltip" title="{{listing' value.@title}}" href="{{rootUrl}}listing/view/{{listing' value.@listing_id}}">{{shorten(listing' value.@title, 3)}}</a></h3>
                                <p class="lokasi">{{getKota(listing' value.@province_id, listing' value.@district_id)}}, {{getPropinsi(listing' value.@province_id)}}</p>
                            </div>
                        </li>
                        <!-- endloop -->                         
                    </ul><!--/thumbnails-->
                </div>                
            </div>
                <!-- //End Recent Works -->
        </div>
        <script>
        $(document).ready(function(){
            $('.hoverinfo').tooltip();
            $('#listing-thumb .countdown').each(function(){
                $(this).countdown({
                    until: new Date($(this).data("waktu") * 1000),
                    compact: true, 
                    layout: '<span class="label label-important">{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}</span>'                    
                })
            })             
        });      



        </script>