        <!--=== Slider ===-->
        <div class="slider-inner">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
                    <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
                    <div class="da-img"><a href="http://www.google.com/"><img src="{{rootUrl}}global/img/slider/1.png" alt="" /></a></div>
                </div>
                <div class="da-slide">
                    <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
                    <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
                    <div class="da-img"><img src="{{rootUrl}}global/img/slider/html5andcss3.png" alt="image01" /></div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>        
                </nav>
            </div><!--/da-slider-->
        </div><!--/slider-->
        <!--=== End Slider ===-->                 
        
        <!--=== Content Part ===-->
        <div class="container">	
        
            <!-- Popular Listing -->
            <div class="headline"><h3>Popular Listing</h3></div>
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="{{rootUrl}}global/img/carousel/2.jpg" alt="" /></div>
                            <span class="btn-type btn-u-green hover-effect" href="#">Buy</span>
                            <span class="btn-price" href="#">Rp. 2.000.000,-</span>                   
                        </div>
                        <h3><a class="hover-effect" href="#">Our Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="{{rootUrl}}global/img/carousel/3.jpg" alt="" /></div>
                            <span class="btn-type btn-u-red hover-effect" href="#">Auction</span>
                            <span class="btn-price" href="#">Rp. 2.000.000,-</span>               
                        </div>
                        <h3><a class="hover-effect" href="#">One More Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="{{rootUrl}}global/img/carousel/9.jpg" alt="" /></div>
                            <span class="btn-type btn-u-blue hover-effect" href="#">Rent</span>
                            <span class="btn-price" href="#">Rp. 2.000.000,-</span>                   
                        </div>
                        <h3><a class="hover-effect" href="#">Another Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="{{rootUrl}}global/img/carousel/10.jpg" alt="" /></div>
                            <span class="btn-type btn-u-green hover-effect" href="#">Buy</span>
                            <span class="btn-price" href="#">Rp. 2.000.000,-</span>
                        </div>
                        <h3><a class="hover-effect" href="#">Huge Work</a></h3>
                        <p>Surabaya, Jawa Timur</p>

                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="{{rootUrl}}global/img/carousel/2.jpg" alt="" /></div>
                            <span class="btn-type btn-u-green hover-effect" href="#">Sell</span>
                            <span class="btn-price" href="#">Rp. 2.000.000,-</span>                   
                        </div>
                        <h3><a class="hover-effect" href="#">Our Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="{{rootUrl}}global/img/carousel/3.jpg" alt="" /></div>
                            <span class="btn-type btn-u-red hover-effect" href="#">Auction</span>
                            <span class="btn-price" href="#">Rp. 2.000.000,-</span>               
                        </div>
                        <h3><a class="hover-effect" href="#">One More Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="{{rootUrl}}global/img/carousel/9.jpg" alt="" /></div>
                            <span class="btn-type btn-u-blue hover-effect" href="#">Rent</span>
                            <span class="btn-price" href="#">Rp. 2.000.000,-</span>                   
                        </div>
                        <h3><a class="hover-effect" href="#">Another Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="{{rootUrl}}global/img/carousel/10.jpg" alt="" /></div>
                            <span class="btn-type btn-u-green hover-effect" href="#">Sell</span>
                            <span class="btn-price" href="#">Rp. 2.000.000,-</span>
                        </div>
                        <h3><a class="hover-effect" href="#">Huge Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
            </ul><!--/thumbnails-->
            <!-- //End Recent Works -->
        </div>