        <!--=== Content Part ===-->
        <div class="container">	
            <!-- if isset($this->flashMessenger[0]) -->
            <div class="alert alert-<?php echo $this->flashMessenger[0];?>">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <?php echo $this->flashMessenger[1];?>
            </div>
            <!-- endif -->
            <div class="row-fluid">
                <div class="span3">
                    <div class="affix-sidebar" data-spy="affix" data-offset-top="66">                    
                        <div class="headline"><h3>Menu Listing</h3></div>
                        <ul class="unstyled who margin-bottom-20">
                            <li><a href="/listing/tambah"><i class="icon-plus"></i>Buat Listing Baru</a></li>
                        </ul>       
                        <div class="headline"><h3>Pencarian</h3></div>
                        <form>
                            <select name="field" class="span12">
                                <option value="title">Judul Listing</option>
                                <option value="description">Deskripsi</option>
                            </select>
                            <input type="text" class="span12" name="key" placeholder="Kata Kunci" />
                        </form>
                    </div>
                </div>
                <div class="span9">
                    <div class="headline"><h3>Daftar Properti Anda</h3></div>
                    <div class="pagination">
                        <ul>
                            <li class="disabled"><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                    <div class="row-fluid">
                        <div class="booking-blocks">
                            <div class="pull-left booking-img">
                                <img alt="" src="assets/img/new/img1.jpg">
                                <ul class="unstyled">
                                    <li><i class="icon-briefcase"></i> Dell, Google</li>
                                    <li><i class="icon-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div style="overflow:hidden;">
                                <h2><a href="#">Here Any Title</a></h2>
                                <ul class="unstyled inline">
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star-empty"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum. <a href="#">read more</a></p>
                            </div>
                        </div>
                        <div class="booking-blocks">
                            <div class="pull-left booking-img">
                                <img alt="" src="assets/img/new/img1.jpg">
                                <ul class="unstyled">
                                    <li><i class="icon-briefcase"></i> Dell, Google</li>
                                    <li><i class="icon-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div style="overflow:hidden;">
                                <h2><a href="#">Here Any Title</a></h2>
                                <ul class="unstyled inline">
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star-empty"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum. <a href="#">read more</a></p>
                            </div>
                        </div>
                        <div class="booking-blocks">
                            <div class="pull-left booking-img">
                                <img alt="" src="assets/img/new/img1.jpg">
                                <ul class="unstyled">
                                    <li><i class="icon-briefcase"></i> Dell, Google</li>
                                    <li><i class="icon-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div style="overflow:hidden;">
                                <h2><a href="#">Here Any Title</a></h2>
                                <ul class="unstyled inline">
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star-empty"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum. <a href="#">read more</a></p>
                            </div>
                        </div>
                        <div class="booking-blocks">
                            <div class="pull-left booking-img">
                                <img alt="" src="assets/img/new/img1.jpg">
                                <ul class="unstyled">
                                    <li><i class="icon-briefcase"></i> Dell, Google</li>
                                    <li><i class="icon-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div style="overflow:hidden;">
                                <h2><a href="#">Here Any Title</a></h2>
                                <ul class="unstyled inline">
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star-empty"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum. <a href="#">read more</a></p>
                            </div>
                        </div>
                        <div class="booking-blocks">
                            <div class="pull-left booking-img">
                                <img alt="" src="assets/img/new/img1.jpg">
                                <ul class="unstyled">
                                    <li><i class="icon-briefcase"></i> Dell, Google</li>
                                    <li><i class="icon-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div style="overflow:hidden;">
                                <h2><a href="#">Here Any Title</a></h2>
                                <ul class="unstyled inline">
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star-empty"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum. <a href="#">read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>