        <!--=== Content Part ===-->
        <div class="container" id="container-min">	
			<div class="headline"><h3>Konfirmasi Akun</h3></div>
            <!-- if isset($this->flashMessenger[0]) -->
            <div class="alert alert-<?php echo $this->flashMessenger[0];?>">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <?php echo $this->flashMessenger[1];?><br />
                Anda akan otomatis dipindah ke halaman depan.
            </div>
            <!-- endif -->
        </div>
        <script>
            $(document).ready(function(){
				setTimeout(function() {
					window.location.href = "/";
				}, 5000);
            })
        </script> 